<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome To Prime News </title>
        {% endif %}
    </head>
    ....
<body>
        <!-- Business News -->
        <h3> Business News</h3>
         <ul>
            {% for business_news in business %}
                <li>{{ business_news.title}}</li>
            {% endfor %}
        </ul>

        <!-- Sports News  -->
        <h3> Sports News  </h3>
         <ul>
            {% for sports_news in sports %}
                <li>{{ sports_news.title}}</li>
            {% endfor %}
        </ul>
        <!-- Technology News  -->
        <h3>Technology News</h3>
         <ul>
            {% for technology_News in technology %}
                <li>{{ technology_news.title}}</li>
            {% endfor %}
        </ul>
        <!-- Entertainment News  -->
        <h3> Entertainment News  </h3>
         <ul>
            {% for entertainment_news in entertainment %}
                <li>{{ entertainment_news.title}}</li>
            {% endfor %}
        </ul>
</body>
</html>